.form-checkout{
    margin: auto;
}

.form-checkout label{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-size: 23px;
    text-align: center;
    color: white;
}

.form-checkout label input{
    padding: 8px;
}

.form-checkout-button{
    margin: auto;
}

.form-checkout-button-container{
    display: flex;
}

.form-checkout-button{
    width: 400px;
    background-color: antiquewhite;
    margin-top: 20px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid gray;
}