.cardItem{
    background-color: gray;
    border-radius: 15px;
}

.itemHeader{
    height: 45px;
    text-align: center;
    color: white;
    font-size: 18px;
}

.itemImg {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.itemImgContainer{
    width: 270px;
    height: 350px;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
}

.sectionItem {
    display: flex;
    justify-content: space-around;
}

.sectionItem P{
    color: white;
    font-size: 17px;
}

.footer{
    display: flex;
    justify-content: center;
}

.option{
    background-color: white;
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    color: black;
}