.NavBar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: black;
}

.img-logo{
    width: 130px;
}

.button-container{
    display: flex;
    gap: 30px;
}

.linkContainter{
    display: flex;
    gap: 30px;
}

.Option, .ActiveOption{
    text-decoration: none;
    background-color: white;
    padding: 8px 15px;
    border-radius: 10px;
    color: black;
}